:root {
  --main-bg: #f8f9fa;
  --highlight-color: #fff;
  --border-color: #a7d7f9;
  --bar-color: #000;
  --header-bg: #efefef;
}

h1 {
  margin-bottom: 0.3em;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.main {
  width: 25em;
  justify-content: end;
  background: white;
}

div.box {
  border: 1px solid #a2a9b1;
  padding: 0.3em;
  background: var(--main-bg);
  min-height: 3em;
  max-height: 40em;
  overflow-y: auto;
}

div.row-container {
  display: flex;
  flex-direction: column;
}

div.row {
  flex: 1;
  display: flex;
  padding: 0.25em 0.5em;
  cursor: pointer;
  flex-direction: row;
  border-radius: 5px;
  border-color: var(--main-bg);
  border-style: solid;
}

div.row:hover {
  background: var(--highlight-color);
  border-color: var(--border-color);
}

div.row:hover div.bar-container {
  flex: 0;
}

div.row:hover div.graph-size {
  width: 100%;
}

div.graph {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4em;
  position: relative;
}

div.bar-container {
  flex: 1;
  transition: 0.25s;
}

div.bar {
  flex: 1;
  height: 100%;
  background: var(--bar-color);
  margin-left: auto;
  margin-right: 0;
  height: 1.3em;
  transition: 0.1s;
}

div.row-lang {
  flex: 3;
  min-width: 0;
}

div.graph-size {
  position: absolute;
  width: 0;
  text-align: right;
  transition: 0.5s;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes loading-bar {
  0% {
    flex: 0.01;
  }
  100% {
    flex: 1;
  }
}

div.loading-bar-container {
  animation-name: loading-bar;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes loading-graph {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

div.loading-graph-size {
  animation-name: loading-graph;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

h1 {
  font-size: large;
  text-align: center;
}

p {
  margin: 0.5em;
}

div.lang-native {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.lang-engl {
  line-height: 1.1;
  margin-left: 0.5em;
  font-size: smaller;
}
