:root {
  --main-bg: #f8f9fa;
  --highlight-color: #fff;
  --border-color: #a7d7f9;
  --bar-color: #000;
  --header-bg: #efefef;
}

button {
  height: 25px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
  justify-content: center;
}

h1 {
  margin-bottom: 0.3em;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.main {
  width: 25em;
  justify-content: end;
  background: white;
}

div.box {
  border: 1px solid #a2a9b1;
  padding: 0.3em;
  background: var(--main-bg);
  min-height: 15em;
  max-height: 40em;
  overflow-y: auto;
}

div.row-container {
  display: flex;
  flex-direction: column;
}

div.row {
  flex: 1;
  display: flex;
  padding: 0.25em 0.5em;
  cursor: pointer;
  flex-direction: row;
  border-radius: 5px;
  border-color: var(--main-bg);
  border-style: solid;
}

div.row:hover {
  background: var(--highlight-color);
  border-color: var(--border-color);
}

div.row:hover div.bar-container {
  flex: 0;
}

div.row:hover div.graph-size {
  width: 100%;
}

div.graph {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.6em;
  position: relative;
}

div.bar-container {
  flex: 1;
  transition: 0.25s;
}

div.bar {
  flex: 1;
  height: 100%;
  background: var(--bar-color);
  margin-left: auto;
  margin-right: 0;
  height: 1.3em;
  transition: 0.1s;
}

div.row-lang {
  flex: 3;
}

div.graph-size {
  position: absolute;
  width: 0;
  text-align: right;
  transition: 0.5s;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-size: large;
  text-align: center;
}

div.lang-native {
  font-weight: bold;
}

div.lang-engl {
  line-height: 1.1;
  margin-left: 0.5em;
  font-size: smaller;
}
