:root {
  --main-bg: #f9f9f9;
  --highlight-color: #fff;
  --border-color: #a7d7f9;
  --bar-color: #000;
  --header-bg: #efefef;
}

button {
  height: 25px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 1px;
  justify-content: center;
}

h1 {
  background: var(--header-bg);
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.main {
  height: 150px;
  width: 250px;
  justify-content: end;
  background: var(--main-bg);
}

div.row-container {
  display: flex;
  flex-direction: column;
}

div.row-field {
  flex: 1;
  display: flex;
  padding: 0.5em;
  cursor: pointer;
  flex-direction: row;
  border-radius: 5px;
  border-color: var(--main-bg);
  border-style: solid;
}

div.row-field:hover {
  background: var(--highlight-color);
  border-color: var(--border-color);
}

div.row-graph {
  flex: 2;
}

div.row-graph:hover {
  opacity: 0.5;
}

div.bar {
  flex: 1;
  height: 100%;
  background: var(--bar-color);
  margin-left: auto;
  margin-right: 0;
}

div.row-lang {
  flex: 3;
}

h1 {
  font-size: large;
  text-align: center;
}
